<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Panel de Administración</title>
        <th:block th:include="/dependences/_HeadInside"></th:block>
    </head>
    <body>
        <div class="wrapper">
            <th:block th:include="/dependences/sidebar/_sidebarAdmin"></th:block>
            <div class="main-panel">
                <th:block th:include="/dependences/_Header"></th:block>

                <!--Contenido de página-->
                <div class="content">
                    <div class="container-fluid">
                        <h4 class="card-title">Cálculos</h4>

                        <div class="row">

                            <div class="col-lg-3 col-sm-6">
                                <div class="card card-stats">
                                    <div class="card-body ">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="icon-big text-center icon-warning">
                                                    <i class="nc-icon nc-single-copy-04 text-danger"></i>

                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <div class="numbers">
                                                    <p class="card-category">Generador de Reporte de Cálculos</p>
                                                    <h4 class="card-title"></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer " align="center">
                                        <hr>
                                        <button class="btn btn-danger btn-wd" onclick="generadorReporteDirect()">Generar</button>
                                        <!--<button class="btn btn-danger btn-wd">Consultar</button>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <th:block th:include="/dependences/_Footer"></th:block>
            </div>
        </div>
    </body>
    <th:block th:include="/dependences/_RequiredScripts"></th:block>
    <script src="../assets/js/actions/urlRedirects.js" type="text/javascript"></script>
</html>