<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Panel de Administración</title>
    <th:block th:include="/dependences/_HeadInside"></th:block>
</head>
<body>
<!--<body>-->
<div class="wrapper">
    <th:block th:include="/dependences/sidebar/_sidebarAdmin"></th:block>
    <div class="main-panel">
        <th:block th:include="/dependences/_Header"></th:block>
        <!--Contenido de página-->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Solicitud de Servicio del cliente</h4>
                            </div>
                            <div class="card-body ">
                                <!--Radios-->
                                <div class="row">
                                    <label class="col-sm-2 control-label">Servicio Urgente: </label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <form id="radioUrgente" class="form-horizontal">
                                            <div class="form-check form-check-radio checkbox-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="radioNameUrgente"
                                                           id="radioNameUrgenteSi" value="Si" th:checked="${checked1}">
                                                    <span class="form-check-sign"></span>
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio checkbox-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="radioNameUrgente"
                                                           id="radioNameUrgenteNo" value="No" th:checked="${checked2}">
                                                    <span class="form-check-sign"></span>
                                                    No
                                                </label>
                                            </div>
                                            <input type="hidden" class="form-control"
                                                   name="servicioUrgente" id="servicioUrgente"
                                                   th:value="${servicioUrgente}">
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
<!--                                    <label class="col-sm-2 control-label">Fecha de Envío de Muestras</label>-->
<!--                                    <div class="col-sm-4 col-sm-offset-1">-->
<!--                                        <div class="form-group">-->
<!--                                            <input type="hidden" class="form-control" name="solicitudServicioClienteId"-->
<!--                                                   id="solicitudServicioClienteId" required-->
<!--                                                   th:value="${solicitudServicioClienteId}">-->

<!--                                            <input type="text" class="form-control datepicker"-->
<!--                                                   name="fechaEnvioMuestras" id="fechaEnvioMuestras" required="true"-->
<!--                                                   th:value="${fechaEnvioMuestras}">-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <label class="col-sm-2 control-label">Fecha de Pago</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker"
                                                   name="fechaPago" id="fechaPago" required="true"
                                                   th:value="${fechaPago}">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 control-label">Nombre y Firma de Quién Envía las
                                        Muestras</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   name="nombreFirmaEmisor" id="nombreFirmaEmisor" required="true"
                                                   th:value="${nombreFirmaEmisor}">
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">¿Las muestras requieren un almacenamiento
                                        especial?</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <form id="radioEspecial" class="form-horizontal">
                                            <div class="form-check form-check-radio checkbox-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio"
                                                           name="radioNameEspecial" id="radioNameEspecialSi" value="Si"
                                                           th:checked="${checked3}">
                                                    <span class="form-check-sign"></span>
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio checkbox-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio"
                                                           name="radioNameEspecial" id="radioNameEspecialNo" value="No"
                                                           th:checked="${checked4}">
                                                    <span class="form-check-sign"></span>
                                                    No
                                                </label>
                                            </div>
                                            <input type="hidden" class="form-control"
                                                   name="almacenamientoEspecial" id="almacenamientoEspecial"
                                                   th:value="${almacenamientoEspecial}">
                                        </form>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group"></div>
                                    </div>
                                    <label class="col-sm-2 control-label">Especifique: </label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   name="especifique" id="especifique" required="true"
                                                   th:value="${especifique}" th:disabled="${especifiqueStatus}">
                                        </div>
                                    </div>
                                </div>

                                <!--ESPECIFICO-->
                                <div class="row">
                                    <label class="col-sm-2 control-label">Cliente: </label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <select class="selectpicker" name="empresa" id="empresa" required="true"
                                                    data-title="Selecciona una empresa..."
                                                    data-style="btn-default btn-outline"
                                                    data-menu-style="dropdown-blue">
                                                <th:block th:object="${empresas}" th:each="item:${empresas}">
                                                    <div th:switch="${item.clientId}">
                                                        <p th:case="${empresaSeleccionada}">
                                                            <option th:value="${item.clientId}"
                                                                    th:text="${item.nombreRazonSocial}"
                                                                    selected></option>
                                                        </p>
                                                        <p th:case="*">
                                                            <option th:value="${item.clientId}"
                                                                    th:text="${item.nombreRazonSocial}"></option>
                                                        </p>
                                                    </div>
                                                </th:block>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 control-label">Fecha de Recepción de Muestras</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker"
                                                   name="fechaRecepcionMuestras" id="fechaRecepcionMuestras"
                                                   required="true" th:value="${fechaRecepcionMuestras}"
                                            >
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">Fecha compromiso entrega de resultados</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control datepicker"
                                                   name="fechaCompromisoEntrega" id="fechaCompromisoEntrega"
                                                   required="true" th:value="${fechaCompromisoEntrega}"
                                            >
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-sm-2 control-label">Nombre y firma de quien recibe las
                                        muestras:</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   name="nombreFirmaReceptor" id="nombreFirmaReceptor" required="true"
                                                   th:value="${nombreFirmaReceptor}"
                                            >
                                        </div>
                                    </div>
                                    <label class="col-sm-2 control-label">Nombre y firma del jefe de control de
                                        calidad:</label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   name="nombreFirmaCalidad" id="nombreFirmaCalidad" required="true"
                                                   th:value="${nombreFirmaCalidad}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <th:block th:each="row,iterador:${muestrasList}">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Información de las muestra</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <label class="col-sm-2 control-label">ID cliente de la muestra:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       th:value="${row.idClienteMuestra}"
                                                       th:attr="name='idClienteMuestra'+${iterador.index},id='idClienteMuestra'+${iterador.index}">
                                            </div>
                                        </div>
                                        <label class="col-sm-2 control-label">Tipo de muestra:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control" th:value="${row.tipoMuestra}"
                                                       th:attr="name='tipoMuestra'+${iterador.index},id='tipoMuestra'+${iterador.index}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-2 control-label">Descripción de la muestra:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       th:value="${row.descripcionMuestra}"
                                                       th:attr="name='descripcionMuestra'+${iterador.index},id='descripcionMuestra'+${iterador.index}">
                                            </div>
                                        </div>
                                        <label class="col-sm-2 control-label">Método Solicitado:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <select multiple class="selectpicker"
                                                        th:attr="name='metodo'+${iterador.index},id='metodo'+${iterador.index}"
                                                        th:with="bandera=false"
                                                        data-title="Selecciona un método..."
                                                        data-style="btn-info btn-fill btn-block"
                                                        data-menu-style="dropdown-blue"
                                                        required="required"
                                                        onchange="chequeo()">
                                                    <th:block th:each="item,i:${listToRender.get(iterador.index)}">
                                                        <option th:value="${item.method.methodId}"
                                                                th:text="${item.method.getCodigoMetodo()}"
                                                                th:selected="${item.getSelected()}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-2 control-label">Lote:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control" th:value="${row.lote}"
                                                       th:attr="name='lote'+${iterador.index},id='lote'+${iterador.index}">
                                            </div>
                                        </div>
                                        <label class="col-sm-2 control-label">Condiciones Especiales:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                       th:value="${row.condicionesEspeciales}"
                                                       th:attr="name='condicionesEspeciales'+${iterador.index},id='condicionesEspeciales'+${iterador.index}">
                                            </div>
                                        </div>
                                        <!--<label class="col-sm-2 control-label">Cantidad de Muestra:</label>-->
<!--                                        <div class="col-sm-4 col-sm-offset-1">-->
<!--                                            <div class="form-group">-->
<!--                                                <input type="hidden" class="form-control" th:value="${row.getSolicitudServicioCliente().}"-->
<!--                                                       th:attr="name='cantidadMuestra'+${iterador.index},id='cantidadMuestra'+${iterador.index}"-->
<!--                                                       disabled>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>

                                    <div class="row">
                                        <label class="col-sm-2 control-label">Observaciones: </label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <div class="form-group">
                                                <input type="text" class="form-control" th:value="${row.observaciones}"
                                                       th:attr="name='observaciones'+${iterador.index},id='observaciones'+${iterador.index}">
                                            </div>
                                        </div>
                                    </div>

                                    <div id="muestraExtra"></div>
                                </div>
                            </div>
                        </th:block>

                        <div class="card">
                            <div class="card-header">

                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-sm-8 control-label">Favor de responder si requiere devolución de
                                        las muestras analizadas: </label>
                                    <div class="col-sm-4 col-sm-offset-1">
                                        <form id="radioMuestras" class="form-horizontal">
                                            <div class="form-check form-check-radio checkbox-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio"
                                                           name="radioNameMuestras" id="radioNameMuestrasSi" value="Si" th:checked="${checked5}">
                                                    <span class="form-check-sign"></span>
                                                    Si
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio checkbox-inline">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio"
                                                           name="radioNameMuestras" id="radioNameMuestrasNo" value="No" th:checked="${checked6}">
                                                    <span class="form-check-sign"></span>
                                                    No
                                                </label>
                                            </div>
                                            <input type="hidden" class="form-control"
                                                   name="devolucionMuestras" id="devolucionMuestras" th:value="${devolucionMuestras}">
                                        </form>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p class="text-muted">
                                            En caso de ser afirmativa la respuesta se le informa que las muestras a
                                            devolver se cobrará gastos de envío.
                                        </p>
                                        <p class="text-danger">
                                            Nota: La mayoría de los ensayos son destructivos.
                                        </p>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="card-footer ">-->
<!--                                <button type="submit" class="btn btn-fill btn-default" onclick="agregarMuestra()">-->
<!--                                    Agregar otra Muestra-->
<!--                                </button>-->
<!--                            </div>-->
                            <div class="card-footer ">
                                <button type="submit" class="btn btn-fill btn-primary" onclick="valida3()">Modificar Solicitud
                                </button>
                            </div>
                        </div>
                        <input type="hidden" class="form-control"
                               name="cantidadDeMuestras" id="cantidadDeMuestras"
                               th:value="${cantidadDeMuestras}">
                    </div>
                </div>
            </div>
        </div>
        <th:block th:include="/dependences/_Footer"></th:block>
    </div>
</div>
</body>
<script src="../assets/js/actions/solicitudServicioCliente.js" type="text/javascript"></script>
<th:block th:include="/dependences/_RequiredScripts"></th:block>
<script>
    $('#fechaEnvioMuestras').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });
    $('#fechaPago').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });
    $('#fechaRecepcionMuestra').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });
    $('#fechaCompromisoEntregaResultados').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });
    $('#fechaOrdenServicio').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });
    $('#fechaRecepcionMuestras').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });
    $('#fechaCompromisoEntrega').datetimepicker({
        format: 'YYYY-MM-DD',
        sideBySide: true,
        icons: {
            up: "fa fa-chevron-circle-up",
            down: "fa fa-chevron-circle-down",
            next: 'fa fa-chevron-circle-right',
            previous: 'fa fa-chevron-circle-left'
        }
    });

    $('#radioEspecial input').on('change', function () {
        var discounted = document.getElementById('especifique');
        document.getElementById("almacenamientoEspecial").value = $('input[name=radioNameEspecial]:checked', '#radioEspecial').val();
        if ($('input[name=radioNameEspecial]:checked', '#radioEspecial').val() === "Si") {
            document.getElementById("especifique").disabled = false;
            document.getElementById("especifique").value = "";
        } else if ($('input[name=radioNameEspecial]:checked', '#radioEspecial').val() === "No") {
            document.getElementById("especifique").disabled = true;
            document.getElementById("especifique").value = "N/A";
        }
    });

    $('#radioUrgente input').on('change', function () {
        document.getElementById("servicioUrgente").value = $('input[name=radioNameUrgente]:checked', '#radioUrgente').val();
    });

    $('#radioMuestras input').on('change', function () {
        document.getElementById("devolucionMuestras").value = $('input[name=radioNameMuestras]:checked', '#radioMuestras').val();
    });
</script>
</html>