<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="seleccionado">
    <option th:value="${item.methodId}"
            th:text="${item.getCodigoMetodo()}"
            th:selected="${item.getMethodId()} eq ${item2.getMethod().getMethodId()}"></option>
</div>

<div th:fragment="noSeleccionado">
    <option th:value="${item.methodId}"
            th:text="${item.getCodigoMetodo()}"></option>
</div>

</body>
</html>